/*
Background: #121212 (Dark Charcoal)
Primary Text: #e0e0e0 (Light Gray)
Accent Color: #bb86fc (Soft Purple)
Secondary Text: #757575 (Medium Gray)
Buttons/Links: #03dac6 (Aqua Teal)
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #e0e0e0;
    background: #121212;
}

.firstContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

.subContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.para{
    padding: 10px 200px;
}

h3{
    color: #757575;
}
h1:hover {
    text-shadow: 1px 1px 20px #fff;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
    border: 5px solid #bb86fc;
}

img:hover{
    box-shadow: 2px 2px 20px #bb86fc;
}
.social {
    position: fixed;
    bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.social-icons {
    display: flex;
    gap: 10px;
    justify-content: center; /* Center the icons horizontally */
    margin-top: 10px;
}
